.navbar-inverse{
    background-color:#006400;
    border-color:#080808
}

.navbar-inverse .navbar-nav>li>a{
    color : white;
}

.navbar-inverse .navbar-nav>li>a:hover{
    color:#7CFC00
}

.navbar-inverse .navbar-brand{
    color:white
}

.navbar-inverse .navbar-brand:hover{
    color:	#FFFF00
}

img{
margin-left:auto;
margin-right:auto;

}